footer {
  width: 100%;
  text-align: center;

  div {
    padding: 3rem;
  }

  a {
    display: inline-block;
    margin: 0 1rem;
    img {
      height: 37px;
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }

}
