#portfolio {
  padding: 3rem;

  .experience-item {
    padding: 2rem 12rem;
    display: flex;
    justify-content: space-around;

    .experience-left-section {
      margin-right: 3rem;
      img {
        height: 10rem;
        text-align: center;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.7;
        transition: all 0.5s ease;
      }
    }

    .experience-right-section {
      font-size: 14px;

      & > div, & > p, .experience-title {
        margin-bottom: 0.5rem;
      }

      .experience-title {
        font-size: 18px;
      }

      .experience-organization {
        text-transform: uppercase;

      }
      .experience-details {
        display: flex;
        justify-content: space-between;
      }

      .experience-link {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }

    &:hover {
      img {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }

  .project-item {
    padding: 2rem 12rem;
    display: flex;
    justify-content: space-around;

    .project-left-section {
      margin-right: 3rem;

      img {
        height: 10rem;
        text-align: center;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.7;
        transition: all 0.5s ease;
      }
    }

    .project-right-section {
      font-size: 14px;

      & > div, & > p, .project-name {
        margin-bottom: 0.5rem;
      }

      .project-name {
        font-size: 18px;
      }

      .project-details {
        display: flex;
        justify-content: space-between;
      }
    }

    &:hover {
      img {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}
