#portfolio {
  padding: 3rem;

  .experience-item {
    padding: 2rem 12rem;
    display: flex;
    justify-content: space-around;

    .experience-left-section {
      padding-right: 3rem;

      img {
        height: 10rem;
        text-align: center;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      img:hover {
        filter: none;
      }
    }

    .experience-right-section {
      font-size: 14px;

      & > div, & > p, .experience-title {
        margin-bottom: 0.5rem;
      }

      .experience-title {
        font-size: 18px;
      }

      .experience-organization {
        text-transform: uppercase;

      }
      .experience-details {
        display: flex;
        justify-content: space-between;
      }
      .experience-skills {
        .skill-tag {
          border-radius: 1rem;
          padding: 5px 6px 3px;
          margin-right: 1rem;
          font-size: 10px;
          background-color: gray;
          color: white;
        }
      }
    }
  }
}
