#skills {
  text-align: center;
  padding: 3rem;

  h3 {
    padding: 3rem;
  }

  #skills-lists {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-bottom: 3rem;

    & > div {
      margin: 0 1rem;

      h4 {
        padding-bottom: 1rem;
      }
      li {
        margin-top: 1rem;
      }

    }
  }
}
