$color-primary: #097169;	// sea green
$color-primary-lighter: #32A59C;
$color-primary-light: #159188;
$color-primary-dark: #00554F;
$color-primary-darker: #002E2A;

$color-secondary: #0E5773;	// teal
$color-secondary-lighter: #3789A8;
$color-secondary-light: #1B7394;
$color-secondary-dark: #044057;
$color-secondary-darker: #01222F;

$color-tertiary: #B8670F;	// gold
$color-tertiary-lighter: #FFAA4D;
$color-tertiary-light: #ED8B22;
$color-tertiary-dark: #8B4800;
$color-tertiary-darker: #4A2700;

$color-complement: #B8580F;	// brick
$color-complement-lighter: #FF9A4D;
$color-complement-light: #ED7A22;
$color-complement-dark: #8B3C00;
$color-complement-darker: #4A2000;
